@model ksc.Models.UserDetail

@{
    ViewBag.Title = "UserProfile";
}


<div class="container" style="padding:20px; margin-bottom:50">
    <h2>User Profile</h2>
    <hr />
    <dl>
        <h3>
           First Name:
        </h3>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <h3>
           Last Name:
        </h3>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <h3>
           Phone Number:
        </h3>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <h3>
            Address:
        </h3>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <h3>
            City:
        </h3>

        <dd>
            @Html.DisplayFor(model => model.City1.name)
        </dd>
    </dl>
</div>
